html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  color: white;
  height: 100vh;
  width: 100vw;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0px;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.showcaseCol {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: scroll;
  padding: 0px;
  background-color: black;
  border-left: inset 15px #36454f;
  border-right: outset 15px #36454f;
  border-top: outset 15px #36454f;
  border-bottom: inset 15px #36454f;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.input-row {
  display: flex;
  margin: 10px;
  height: 10%;
  flex-direction: row;
  gap: 10px;
  width: 90%;
  position: relative;
  justify-content:space-around;

  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 15px 10px black;
  border-radius: 5px;
  border-left: inset 15px #36454f;
  border-right: outset 15px #36454f;
  border-top: outset 15px #36454f;
  border-bottom: inset 15px #36454f;
}
.showcaseColInside {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: scroll;
  padding: 0px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  animation: MetalGround 1s infinite linear;
}
.header {
  font-size: x-large;
  box-shadow: 0px 4px 15px 10px black;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.text-bg {
  background-color: black;
  box-shadow: 0px 4px 15px 10px black;
  border-radius: 5px;
  border-left: inset 15px #36454f;
  border-right: outset 15px #36454f;
  border-top: outset 15px #36454f;
  border-bottom: inset 15px #36454f;
  margin: 20px 0 20px 0;
}
@keyframes MetalGround {
  0% {
    background-image: linear-gradient(to right, #686868, #7d7c7c, #b6b6b6);
  }
  25% {
    background-image: linear-gradient(to right, #b6b6b6, #686868, #7d7c7c);
  }

  75% {
    background-image: linear-gradient(to right, #7d7c7c, #b6b6b6, #686868);
  }
  100% {
    background-image: linear-gradient(to right, #686868, #7d7c7c, #b6b6b6);
  }
}
